/*------------------------------------------------------------------
[Master Stylesheet]

Project:	 Front-end Template
Version:	 1
Last change: 17/03/14 [fixed Float bug]
Assigned to: Alex
Description: This stylesheet contains css used in forms. 
-------------------------------------------------------------------*/