/*------------------------------------------------------------------
[Forms Stylesheet]

Project:	 Front-end Template
Version:	 1
Last change: 17/03/14 [fixed Float bug]
Assigned to: Alex
Description: Contains css used in forms. 
-------------------------------------------------------------------*/