/*------------------------------------------------------------------
[IE Stylesheet]

Project:	 Front-end Template
Version:	 1
Last change: 17/03/14
Assigned to: Alex
Description: Contains css for IE6-8. 
-------------------------------------------------------------------*/